.carousel {
    width: 50%;
    height: 20%;
    margin: 0 auto;

  }
  
  .carousel-inner>.item>img {
    margin: 0 auto;
  }
  
  div.c-wrapper {
    width: 100%;
    margin: auto;
  }
  
  .carousel-inner>.item>img,
  .carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
  }
  
  .container {
    border: 1px;
  }