.card-title{
    font-family:'Indie Flower', cursive;
}

.navbar-brand{
    font-family: 'Permanent Marker', cursive;
}

.buttonthing{
    font-family: 'Indie Flower', cursive;
}

.button2{
    font-family: 'Permanent Marker', cursive;
}

.jshead{
    font-family:'Permanent Marker', cursive;
    text-align: center;
}