@import "shared/variables";
@import "shared/MyBootstrap";
@import "shared/everything";
@import "shared/carousel";



//@import "shared/mediaquery";


//this makes it 25% by default :)
 //   #cards  div.card{
 //       width: 25%;
 //   }

 // far